@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
    --primary: #b4000f;
    --secondaty: #90a74c;
    --dark: #58483a;
    --light: #fff;
    --font: Shadows, Into;
    --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    background: var(--lihgt);
}
.bold{
    font-weight: 700;
}

ul{
    list-style: none;
}

.btn{
    width: 100px;
    padding: 0.5rem;
    cursor: pointer;
    color: var(--lihgt);
    border: none;
    border-radius: 4px;
    margin: 0 0.25rem;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn-primary{
    background: var(--primary);
}

.btn-secondary{
    background: var(--secondaty);
}